@import 'variables';
@import 'mixins';

.sidebar {
  height: 100%;
  width: 100%;
}

.head_sidebar {
  position: relative;
  .line-bottom {
    padding-bottom: 10px;
    margin-bottom: 40px;
    // background: linear-gradient(82.19deg, #554890 5.2%, #E8C1ED 100.36%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    background-clip: text;
    &::before {
      height: 3px;
      width: 96px;
      content: '';
      background: $color-gray-300;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }
}
.box_sidebar {
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  padding: 25px 25px 0px 25px;
  & > div:not(last-child) {
    padding-bottom: 1rem;
  }
}
.list_posts {
  .item_post {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 20px;
    .image_post {
      min-width: 64px;
      max-width: 64px;
      margin-right: 15px;
      img {
        height: 64px;
        width: 64px;
        border-radius: 16px;
      }
    }
    .info_post {
      position: relative;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      a {
        &:hover {
          h6 {
            color: $color-gray-300;
          }
        }
      }
      ul {
        padding-left: 25px;
        margin-bottom: 20px;
        margin-top: 15px;
        li {
          list-style: disc;
        }
      }
    }
    &:last-child {
      margin-bottom: 0px;
      .info_post {
        border-bottom-width: 0px;
      }
    }
  }
}
.box_author_small {
  display: flex;
  align-items: center;
  img {
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
  .author_info {
    width: 100%;
  }
}
.list_comments {
  position: relative;
  .item_comment {
    border-bottom-width: 1px;
    border-style: solid;
    padding-bottom: 23px;
    margin-bottom: 23px;
    &:last-child {
      border-bottom: 0px;
      margin-bottom: 0px;
    }
  }
}

.boxSocials {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  > * {
    padding: 1rem;
    margin-top: 1rem;
  }
  @include media('<=laptop') {
    display: inline;
    padding-top: 1.2rem;
  }
}
