.head_sidebar {
  position: relative;
  .line-bottom {
    padding-bottom: 10px;
    margin-bottom: 40px;
    // background: linear-gradient(82.19deg, #554890 5.2%, #E8C1ED 100.36%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    background-clip: text;
    &::before {
      height: 3px;
      width: 96px;
      content: '';
      background: $color-gray-300;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }
}
