//1.FONT
@import url(https://fonts.bunny.net/css?family=noto-sans:400,500,700,800);
$font-text: 'Noto Sans', sans-serif;
$font-heading: 'Noto Sans', sans-serif;
$font-3xs: 10px;
$font-xxs: 12px;
$font-xs: 13px;
$font-sm: 14px;
$font-md: 16px;
$font-md-2: 15px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 22px;
$font-3xl: 58px;
//2.COLOR
$color-black: #000000;
$color-brand-1: #4d4182;
$color-brand-2: #7c1a56;
$color-brand-3: #4d4182;
$color-border-1: #e8c1ed;
$color-gray-50: #d0cde4;
$color-gray-100: #d0cde4;
$color-gray-200: #b8b2d1;
$color-gray-300: #d0cde4;
$color-gray-400: #887cab;
$color-gray-500: #706198;
$color-gray-600: #584685;
$color-gray-700: #403272;
$color-gray-800: #2b2448;
$color-gray-850: #231e3f;
$color-gray-900: #1b1836;
$color-gray-950: #13122d;
$color-gray-950-day: #9e2570; // Lightest
$color-gray-900-day: #ca9eb8;
$color-gray-850-day: #1E1D47;
$color-gray-800-day: #681952;
$color-gray-700-day: #561548;
$color-gray-600-day: #44113e;
$color-gray-500-day: #d0cde4;
$color-gray-400-day: #d0cde4;
$color-gray-300-day: #13122d;
$color-gray-200-day: #000016;
$color-gray-100-day: #d0cde4; // Darkest

$color-gray-50-day: #13122d;

$color-gray-50-day: #584685;
$color-primary: #1aaeed;
$color-secondary: #8d99ae;
$color-success: #6cffc1;
$color-danger: #ff756c;
$color-warning: #ffb067;
$color-info: #27b3d2;
$color-white: #fdf7f9;
$color-green: #00ff8a;
$color-yellow: #fff500;
$color-pink: #ff6bc4;
$color-blue: #3aa1ff;
$color-linear: #706198;
$color-gray: #667085;
// End New
//3.Boxshadow
$box-shadow-1: rgba(55, 43, 109, 1) 0px 3px 20px;
$box-shadow-1-day: rgba(55, 43, 109, 0.2) 0px 3px 20px;

$box-shadow-7: rgba(55, 43, 109, 1) 0px 3px 20px;

$box-shadow-2: 0px 45px 80px rgba(0, 0, 0, 0.04);
$box-shadow-3: 0px 47px 65px rgba(21, 28, 38, 0.1);
$box-shadow-4: 4px 6px 23px rgba(55, 43, 109, 0.1);
$box-shadow-5: 4px 4px 40px rgba(16, 24, 40, 0.1);
$box-shadow-inner: inset 0px 40px 80px #fcfcfc;
$box-shadow-6: 0px 4px 4px rgba(0, 0, 0, 0.25);

//5. Background
// New
$background-white: #ffffff;
$background-linear: linear-gradient(
    90deg,
    rgba(232, 193, 237, 1),
    rgba(55, 43, 109, 1) 51%,
    #1b1836
  )
  var(--x, 0) / 200%;
$background-linear-2: linear-gradient(
  90deg,
  rgba(232, 193, 237, 1) 0%,
  rgba(55, 43, 109, 1) 100%
);
// End new
// 6. text-shadow
$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// 7. breakpoints
$grid-breakpoints: (
  xs: 0,
  xxsm: 350px,
  xssm: 450px,
  xsm: 500px,
  sm: 576px,
  smd: 650px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
