:host {
  display:flex;
  justify-content: center;
  align-items: center;
}

.app {
  background-color: var(--theme-bg-color);
  max-width: 1250px;
  max-height: 900px;
  height: 90vh;
  width:100%;
  display: flex;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  // backdrop-filter: blur(20px);
  // -webkit-backdrop-filter: blur(20px);
  position: relative;
}
.main-container {
  display: flex;
  flex-direction: column;
  width:100%;
  padding: 0 30px 30px;
  flex-grow: 1;
  overflow: auto;
}

.anim {
  animation: bottom 0.8s var(--delay) both;
}
