@import 'variables';
@import 'mixins';

$bp-md: 600px;
$bp-lg: 800px;
$duration: 700ms;
$easing: cubic-bezier(0.19, 1, 0.22, 1);

.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  @include media('<=laptop') {
    padding: 1rem 2rem;
  }
  @include media('>=desktop') {
    padding: 1rem;
  }
}

.card:hover:before {
  filter: blur(5px);
}

//TODO: There is a space with gap on content that adds to much padding to the bottom of a un-hovered card.
.card {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
  border-radius: 16px;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform calc($duration * 1.5) $easing;
    pointer-events: none;
    border-radius: 16px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250%;
    pointer-events: none;

    // transform: translateY(-50%);
    transition: transform calc($duration * 2) $easing;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 25%;
  border-radius: 16px;
  transition: transform $duration $easing;
  z-index: 1;
  padding: 1rem;
  border: 1px solid transparent;
  gap: 1rem;
  -webkit-box-shadow: inset 0px 3px 37px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 3px 37px -14px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 3px 37px -14px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 1.1rem;
  width: 100%;
  line-height: 1.2;
  background: #2b2448;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  align-items: center;
  padding: 1rem;
  height: 50px;
}

.notes {
  font-size: 1rem;
  line-height: 1.1;
  width: 100%;
  transition: transform calc($duration * 1.5) $easing;
  opacity: 0;
}

.meta {
  font-size: 1.2rem;
  border-radius: 16px;
  padding: 0.5rem;
  li {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    span {
      margin-left: 0.5rem;
      font-size: 0.8rem;
    }
  }
}

@media (hover: hover) {
  .card:after {
    transform: translateY (0);
  }

  .notes {
    opacity: 0;
  }
  //TODO: FIX THIS: IT SHOULD NOT HAVE A BORDER; SET BACKGROUND AFTER TRANSITION. BEFORE IS OPAQUE.
  .content {
    transform: translateY(calc(100% - 5rem));

    > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition:
        transform $duration $easing,
        opacity $duration $easing;
    }
  }

  .card:hover,
  .card:focus-within {
    align-items: center;

    &:before {
      transform: translateY(-4%);
    }
    &:after {
      transform: translateY(-50%);
      background-image: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0.1) 0%,
        hsla(0, 0%, 0%, 0.109) 11.7%,
        hsla(0, 0%, 0%, 0.134) 22.1%,
        hsla(0, 0%, 0%, 0.172) 31.2%,
        hsla(0, 0%, 0%, 0.223) 39.4%,
        hsla(0, 0%, 0%, 0.282) 46.6%,
        hsla(0, 0%, 0%, 0.349) 53.1%,
        hsla(0, 0%, 0%, 0.42) 58.9%,
        hsla(0, 0%, 0%, 0.494) 64.3%,
        hsla(0, 0%, 0%, 0.568) 69.3%,
        hsla(0, 0%, 0%, 0.64) 74.1%,
        hsla(0, 0%, 0%, 0.707) 78.8%,
        hsla(0, 0%, 0%, 0.768) 83.6%,
        hsla(0, 0%, 0%, 0.821) 88.7%,
        hsla(0, 0%, 0%, 0.862) 94.1%,
        #1a152f 100%
      );
    }

    .content {
      transform: translateY(0);
      height: 100%;
      background: #29245b;
      > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc($duration / 8);
      }
    }
  }

  .card:focus-within {
    &:before,
    &:after,
    .content,
    .content > *:not(.title) {
      transition-duration: 0s;
    }
  }
}

.card.hover:before,
.card:hover:before,
.card:focus-within:before {
  filter: blur(5px);
}

.content.show-content,
.card:hover .content,
.card:focus-within .content {
  transform: translateY(0);
  height: 100%;
  background: #29245b;
  /* Ensure other properties transition as expected */
}

/* Add necessary transitions */
.content.show-content > *,
.card:hover .content > *,
.card:focus-within .content > * {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc($duration / 8);
}
