@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
}

.recipe {
  position: relative;
  background-color: var(--theme-bg-color);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
  @include animation-delay(3, 15);

  &-categories {
    display: flex;
    padding: 0 1rem;
    margin-right: auto;
    justify-content: flex-end;
    right: 0px;
    top: 2px;
    background: red;
    div {
      margin: 0.2rem;
    }
    // align-items:center;
    // position: absolute;
    position: absolute;
  }

  &-image {
    position: relative;
    background-color: var(--theme-bg-color);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
    @include animation-delay(3, 15);
    &:hover {
      transform: scale(1.5);
      transform-origin: center;
    }
  }

  &-wrapper {
    position: relative;
  }

  &-name {
    color: #fff;
    font-size: 16px;
    line-height: 1.4em;
    padding: 12px 20px 0;
    overflow: hidden;
    z-index: 2;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &-view {
    font-size: 12px;
    padding: 12px 20px 20px;
    position: relative;
  }

  &-created-by {
    transition: 0.3s;
    padding: 20px 20px 0px;
    position: relative;
    transform-origin: bottom;
  }

  // &-by {
  //   transition: 0.3s;
  //   display: inline-flex;
  //   position: relative;

  //   &:before {
  //     content: '';
  //     background-color: #22b07d;
  //     width: 6px;
  //     height: 6px;
  //     border-radius: 50%;
  //     position: absolute;
  //     top: 50%;
  //     transform: translateY(-50%);
  //     right: -12px;
  //   }

  //   &.offline:before {
  //     background-color: #ff7551;
  //   }
  // }

  &-time {
    background-color: var(--theme-bg-color);
    color: rgb(255 255 255 / 85%);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 8px;
    top: 10px;
    z-index: 1;
    right: 8px;
    transition: 0.3s ease-in-out;
  }

  &-author {
    position: absolute;
    right: -10px;
    z-index: 9;
    transition: 0.4s;
    bottom: -25px;

    svg {
      background-color: #0aa0f7;
      color: #fff;
      border-color: var(--recipe-bg);
    }
  }

  &:hover {
    recipe {
      transform: scale(1.5);
      transform-origin: center;
    }

    .recipe-time {
      transform: translateY(-50%);
      opacity: 0;
    }

    .recipe-author {
      bottom: -65px;
      transform: scale(0.6);
      right: -3px;
      z-index: 9;
    }

    .recipe-created-by {
      transform: scaleY(0);
      opacity: 0;
    }
  }
}

.author-img {
  background: #59b046;
  border-color: rgb(255 255 255 / 75%);
  margin-top: 14px;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .author-img__wrapper svg {
//   border-color: #ffe6b2;
//   color: #e7bb7d;
// }

.author-detail {
  margin-left: 0;
}

.star {
  position: relative;

  display: inline-block;
  width: 0;
  height: 0;

  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;

  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #fc0;
  border-left: 0.3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 0.5rem;

  &:before,
  &:after {
    content: '';

    display: block;
    width: 0;
    height: 0;

    position: absolute;
    top: 0.6em;
    left: -1em;

    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #fc0;
    border-left: 1em solid transparent;

    transform: rotate(-35deg);
  }

  &:after {
    transform: rotate(35deg);
  }
}
