<div class="recipe anim">
  <div class="recipe-time">{{preview.categories}}</div>
  <div class="recipe-wrapper">
    <img class="recipe-image" [src]="preview.image_url" lazyload="true" />
    <!-- <div class="author-img__wrapper recipe-author">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
          stroke-linejoin="round" class="feather feather-check">
          <path d="M20 6L9 17l-5-5" />
        </svg>
        <div class="author-img">90</div>
      </div> -->
  </div>
  <div class="recipe-created-by">
    <div class="recipe-by">{{preview.cook_time}}</div>
  </div>

  <div class="recipe-name">{{preview.name}}</div>
  <div class="recipe-view">{{preview.rating}}<span class="seperate recipe-seperate"></span>1 week ago</div>
</div>
