.Input {
  label {
    font-size: 1.5em;
  }

  input[type='checkbox']:checked + label {
    color: red;
    text-decoration: line-through;
  } /*This is the MDN spec for doing this*/

  /* #cbox3 {
  color:blue;
  text-decoration: line-through;
} */

  #cbox3:checked + label {
    color: blue;
    text-decoration: line-through;
  }
}
