@import 'variables';

.Input {
  label {
    font-size: 1.5em;
  }

  input[type='checkbox']:checked + label {
    color: $color-brand-2;
    text-decoration: line-through;
  } /*This is the MDN spec for doing this*/
}
